<h1>Javin's Sentiment Analysis!</h1>
<div>
  <span>Input String to Analyze Sentiment:</span> <br />
  <input id="inp" type="text" required [(ngModel)]="userInput" /> <br>
  <!-- <h1>{{userInput}}</h1> -->
  <button (click)="getSentiment()">Get sentiment!</button> <br /> <br />
  Statement: {{cleaned}} <br /> <br />
  Positive: {{sentiment == null ? "Empty" : sentiment['pos']}} <br />
  Negative: {{sentiment == null ? "Empty" : sentiment['neg']}} <br />
  Neutral: {{sentiment == null ? "Empty" : sentiment['neu']}} <br />
  Compound: {{sentiment == null ? "Empty" : sentiment['compound']}} <br />

</div>
